<section class="team-section fix section-padding pt-0 margin-bottom-30">
    <div class="container">
        <div class="section-title text-center">
            <h2 class="mb-3 wow fadeInUp" data-wow-delay=".3s">Featured Author</h2>
            <p class="wow fadeInUp" data-wow-delay=".5s">Interdum et malesuada fames ac ante ipsum primis in
                faucibus. <br> Donec at nulla nulla. Duis posuere ex lacus</p>
        </div>
        <div class="array-button">
            <button class="array-prev"><i class="fal fa-arrow-left"></i></button>
            <button class="array-next"><i class="fal fa-arrow-right"></i></button>
        </div>
        <div class="swiper team-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="team-box-items">
                        <div class="team-image">
                            <div class="thumb">
                                <img src="assets/img/team/01.jpg" alt="img">
                            </div>
                            <div class="shape-img">
                                <img src="assets/img/team/shape-img.png" alt="img">
                            </div>
                        </div>
                        <div class="team-content text-center">
                            <h6><a href="team-details.html">Esther Howard</a></h6>
                            <p>10 Published Books</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="team-box-items">
                        <div class="team-image">
                            <div class="thumb">
                                <img src="assets/img/team/02.jpg" alt="img">
                            </div>
                            <div class="shape-img">
                                <img src="assets/img/team/shape-img.png" alt="img">
                            </div>
                        </div>
                        <div class="team-content text-center">
                            <h6><a href="team-details.html">Shikhon Islam</a></h6>
                            <p>07 Published Books</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="team-box-items">
                        <div class="team-image">
                            <div class="thumb">
                                <img src="assets/img/team/03.jpg" alt="img">
                            </div>
                            <div class="shape-img">
                                <img src="assets/img/team/shape-img.png" alt="img">
                            </div>
                        </div>
                        <div class="team-content text-center">
                            <h6><a href="team-details.html">Kawser Ahmed</a></h6>
                            <p>04 Published Books</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="team-box-items">
                        <div class="team-image">
                            <div class="thumb">
                                <img src="assets/img/team/04.jpg" alt="img">
                            </div>
                            <div class="shape-img">
                                <img src="assets/img/team/shape-img.png" alt="img">
                            </div>
                        </div>
                        <div class="team-content text-center">
                            <h6><a href="team-details.html">Brooklyn Simmons</a></h6>
                            <p>15 Published Books</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="team-box-items">
                        <div class="team-image">
                            <div class="thumb">
                                <img src="assets/img/team/05.jpg" alt="img">
                            </div>
                            <div class="shape-img">
                                <img src="assets/img/team/shape-img.png" alt="img">
                            </div>
                        </div>
                        <div class="team-content text-center">
                            <h6><a href="team-details.html">Leslie Alexander</a></h6>
                            <p>05 Published Books</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="team-box-items">
                        <div class="team-image">
                            <div class="thumb">
                                <img src="assets/img/team/06.jpg" alt="img">
                            </div>
                            <div class="shape-img">
                                <img src="assets/img/team/shape-img.png" alt="img">
                            </div>
                        </div>
                        <div class="team-content text-center">
                            <h6><a href="team-details.html">Guy Hawkins</a></h6>
                            <p>12 Published Books</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>