{% load static %}
<section class="featured-books-section pt-100 pb-145 fix section-bg">
    <div class="container">
        <div class="section-title-area justify-content-center">
            <div class="section-title wow fadeInUp" data-wow-delay=".3s">
                <h2>Featured Books</h2>
            </div>
        </div>

        <div class="swiper featured-books-slider">
            <div class="swiper-wrapper">
                {% for product in featured_products %}
                <div class="swiper-slide">
                    <div class="shop-box-items style-4 wow fadeInUp" data-wow-delay=".2s">
                        <div class="book-thumb center">
                            <a href="{% url 'store:product_detail' product.slug %}"><img src="{{ product.main_image }}" alt="{{ product.title }}"></a>
                        </div>
                        <div class="shop-content">
                            <ul class="book-category">
                                <li class="book-category-badge"></li>
                                <li>
                                    <i class="fa-solid fa-star"></i>
                                    {{product.average_rating}} ({{product.rating_count}})
                                </li>
                            </ul>
                            <h3><a href="{% url 'store:product_detail' product.slug %}">{{product.title|truncatewords:4}}</a></h3>
                            <ul class="author-post">
                                <li class="authot-list">
                                    <span class="thumb">
                                        <img src="{% static 'assets/img/testimonial/client-1.png' %}" alt="img">
                                    </span>
                                </li>
                            </ul>
                            <div class="book-availablity">
                                <div class="details">
                                    <ul class="price-list">
                                        <li>₦{{product.price}}</li>
                                    </ul>
                                </div>
                                <div class="shop-btn">
                                    <button onclick="addToCart({{ product.id }})">
                                        <i class="fa-regular fa-basket-shopping"></i>
                                    </button>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>