{% load static %}
<div class="header-top-1">
    <div class="container">
        <div class="header-top-wrapper">
            <ul class="contact-list">
                <li>
                    <i class="fa-regular fa-phone"></i>
                    <a href="tel:+2349032282484">+234 903 228 2484</a>
                </li>
                <li>
                    <i class="far fa-envelope"></i>
                    <a href="mailto:info@bookhive.us">info@bookhive.us</a>
                </li>
            </ul>
            <ul class="list">
                <li><i class="fa-light fa-comments"></i><a href="{% url 'store:contact' %}">Contact Us</a></li>
                <li><i class="fa-light fa-user"></i>
                    {% if is_logged_in %}
                    <a href="{% url 'auth_app:logout' %}">
                        Logout
                    </a>
                    {% else %}
                    <button data-bs-toggle="modal" data-bs-target="#loginModal">
                        Login
                    </button>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- Sticky Header Section start  -->
<header class="header-1 sticky-header">
    <div class="mega-menu-wrapper">
        <div class="header-main">
            <div class="container">
                <div class="row">
                    <div class="col-6 col-md-6 col-lg-10 col-xl-8 col-xxl-10">
                        <div class="header-left">
                            <div class="logo">
                                <a href="{% url 'store:home' %}" class="header-logo">
                                    <h1 class="text-white mb-40 wow fadeInUp" data-wow-delay=".3s">{{business_name}}</h1>
                                    {% comment %} <img src="{% static 'assets/img/logo/hive.png' %}" height="60px" alt="logo-img"> {% endcomment %}
                                </a>
                            </div>
                            <div class="mean__menu-wrapper">
                                <div class="main-menu">
                                    <nav>
                                        <ul>
                                            <li>
                                                <a href="{% url 'store:home' %}">
                                                    Home
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{% url 'store:shop' %}">
                                                    Shop
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{% url 'store:about' %}">
                                                    About
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{% url 'store:contact' %}">Contact</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-6 col-lg-2 col-xl-4 col-xxl-2">
                        <div class="header-right">
                            <div class="category-oneadjust gap-6 d-flex align-items-center">
                                <div class="icon">
                                    <i class="fa-sharp fa-solid fa-grid-2"></i>
                                </div>
                                <select name="cate" class="category">
                                    <option value="1">
                                        Category
                                    </option>
                                    <option value="1">
                                        Web Design
                                    </option>
                                    <option value="1">
                                        Web Development
                                    </option>
                                    <option value="1">
                                        Graphic Design
                                    </option>
                                    <option value="1">
                                        Softwer Eng
                                    </option>
                                </select>
                                <form action="#" class="search-toggle-box d-md-block">
                                    <div class="input-area">
                                        <input type="text" placeholder="Author">
                                        <button class="cmn-btn">
                                            <i class="far fa-search"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <div class="menu-cart">
                                <a href="#" class="mycart-icon">
                                    <i class="fa-regular fa-heart"></i>
                                </a>
                                <a href="{% url 'cart:cart' %}" class="mycart-icon">
                                    <i class="fa-regular fa-cart-shopping"></i>
                                    <span class="cart-count">{{ cart_count }}</span>
                                </a>
                                <div class="header-humbager ml-30">
                                    <a class="sidebar__toggle" href="javascript:void(0)">
                                        <div class="bar-icon-2">
                                            <img src="{% static 'assets/img/icon/icon-13.svg' %}" alt="img">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</header>

<!-- Main Header Section start  -->
<header class="header-1">
    <div class="mega-menu-wrapper">
        <div class="header-main">
            <div class="container">
                <div class="row">
                    <div class="col-6 col-md-6 col-lg-10 col-xl-8 col-xxl-10">
                        <div class="header-left">
                            <div class="logo">
                                <a href="{% url 'store:home' %}" class="header-logo">
                                    <h1 class="text-white mb-40 wow fadeInUp" data-wow-delay=".3s">{{business_name}}</h1>
                                    {% comment %} <img src="{% static 'assets/img/logo/hive.png' %}" height="60px" alt="logo-img"> {% endcomment %}
                                </a>
                            </div>
                            <div class="mean__menu-wrapper">
                                <div class="main-menu">
                                    <nav id="mobile-menu">
                                        <ul>
                                            <li>
                                                <a href="{% url 'store:home' %}">
                                                    Home
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{% url 'store:shop' %}">
                                                    Shop
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{% url 'store:about' %}">
                                                    About
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{% url 'store:contact' %}">Contact</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-6 col-lg-2 col-xl-4 col-xxl-2">
                        <div class="header-right">
                            <div class="category-oneadjust gap-6 d-flex align-items-center">
                                <div class="icon">
                                    <i class="fa-sharp fa-solid fa-grid-2"></i>
                                </div>
                                <select name="cate" class="category">
                                    <option value="1">
                                        Category
                                    </option>
                                    <option value="1">
                                        Web Design
                                    </option>
                                    <option value="1">
                                        Web Development
                                    </option>
                                    <option value="1">
                                        Graphic Design
                                    </option>
                                    <option value="1">
                                        Softwer Eng
                                    </option>
                                </select>
                                <form action="#" class="search-toggle-box d-md-block">
                                    <div class="input-area">
                                        <input type="text" placeholder="Author">
                                        <button class="cmn-btn">
                                            <i class="far fa-search"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <div class="menu-cart">
                                <a href="#" class="mycart-icon">
                                    <i class="fa-regular fa-heart"></i>
                                </a>
                                <a href="{% url 'cart:cart' %}" class="mycart-icon">
                                    <i class="fa-regular fa-cart-shopping"></i>
                                    <span class="cart-count">{{ cart_count }}</span>
                                </a>
                                <div class="header-humbager ml-30">
                                    <a class="sidebar__toggle" href="javascript:void(0)">
                                        <div class="bar-icon-2">
                                            <img src="{% static 'assets/img/icon/icon-13.svg' %}" alt="img">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</header>
