{% load static %}
<div class="hero-section hero-2 fix">
        <div class="container">
            <div class="row">
                <div class="col-12 col-xl-6 col-lg-6">
                    <div class="hero-items">
                        <div class="frame-shape1 float-bob-x">
                            <img src="{% static 'assets/img/hero/hero2-shape1.png' %}" alt="shape-img">
                        </div>
                        <div class="frame-shape2 float-bob-y">
                            <img src="{% static 'assets/img/hero/hero2-shape2.png' %}" alt="shape-img">
                        </div>
                        <div class="book-image">
                            <img src="{% static 'assets/img/hero/hero-book.png' %}" alt="img">
                        </div>
                        <div class="hero-content">
                            <h6 class="wow fadeInUp" data-wow-delay=".3s">Explore the books</h6>
                            <h1 class="wow fadeInUp" data-wow-delay=".5s">Expand Your Mind <br> Reading a Book </h1>
                            <p class="text-capitalize">Sed ac arcu sed felis vulputate molestie. Nullam at urna in velit
                                finibus vestibulum euismod a <br> urna. Sed quis aliquam leo. Duis iaculis lorem mauris,
                                et convallis dui efficitur</p>
                            <div class="form-clt wow fadeInUp mt-5" data-wow-delay=".9s">
                                <button type="submit" class="theme-btn">
                                    Shop Now <i class="fa-solid fa-arrow-right-long"></i>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
