{% load static %}
<div class="fix-area">
    <div class="offcanvas__info">
        <div class="offcanvas__wrapper">
            <div class="offcanvas__content">
                <div class="offcanvas__top mb-5 d-flex justify-content-between align-items-center">
                    <div class="offcanvas__logo">
                        <a href="{% url 'store:home' %}">
                            <img src="{% static 'assets/img/logo/black-logo.svg' %}" alt="logo-img">
                        </a>
                    </div>
                    <div class="offcanvas__close">
                        <button>
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <p class="text d-none d-xl-block">
                    {{business_name}} is more than just a bookstore—it’s a community for book lovers. 
                    Whether you’re searching for knowledge, adventure, or comfort, our carefully curated collection has something for everyone. 
                    Join us, explore, and let your love for books grow
                </p>
                <div class="mobile-menu fix mb-3"></div>
                <div class="offcanvas__contact">
                    <div class="header-button mt-4">
                        <a href="{% url 'cart:cart' %}" class="theme-btn text-center">
                            View Cart ({{ cart_count }}) <i class="fa-solid fa-arrow-right-long"></i>
                        </a>
                    </div>
                    <div class="header-button mt-4">
                        <a href="{% url 'store:shop' %}" class="theme-btn text-center">
                            Get A Book <i class="fa-solid fa-arrow-right-long"></i>
                        </a>
                    </div>
                    <div class="social-icon d-flex align-items-center">
                        <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://x.com/"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
                        <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="offcanvas__overlay"></div>