{% load static %}
<section class="shop-section section-padding fix pt-0">
    <div class="container">
        <div class="section-title-area">
            <div class="section-title">
                <h2 class="wow fadeInUp" data-wow-delay=".3s">Top Category Books</h2>
            </div>
            <a href="shop.html" class="theme-btn transparent-btn wow fadeInUp" data-wow-delay=".5s">Explore More <i
                    class="fa-solid fa-arrow-right-long"></i></a>
        </div>
        <div class="swiper book-slider">
            <div class="swiper-wrapper">
                {% for product in featured_products %}
                <div class="swiper-slide">
                    <div class="shop-box-items style-2">
                        <div class="book-thumb center">
                            <a href="{% url 'store:product_detail' product.slug %}"><img src="{{ product.main_image }}" alt="{{ product.title }}"></a>
                            <ul class="post-box">
                                <li>
                                    Hot
                                </li>
                            </ul>
                            <ul class="shop-icon d-grid justify-content-center align-items-center">
                                <li>
                                    <a href="shop-cart.html"><i class="far fa-heart"></i></a>
                                </li>
                                <li>
                                    <a href="shop-cart.html">
                                        <img class="icon" src="{% static 'assets/img/icon/shuffle.svg' %}" alt="svg-icon">
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'store:product_detail' product.slug %}"><i class="far fa-eye"></i></a>
                                </li>
                            </ul>
                            <div class="shop-button">
                                <button onclick="addToCart({{ product.id }})" class="theme-btn"><i
                                    class="fa-solid fa-basket-shopping"></i> Add To Cart</button>
                            </div>
                        </div>
                        <div class="shop-content">
                            <h3><a href="{% url 'store:product_detail' product.slug %}">{{product.title|truncatewords:4}}</a></h3>
                            <ul class="price-list">
                                <li>₦{{product.price}}</li>
                                <li>
                                    <i class="fa-solid fa-star"></i>
                                    {{product.average_rating}} ({{product.rating_count}})
                                </li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>