{% load static %}
{% load rating_tags %}
{% load dict_extras %}
<!-- Breadcumb Section Start -->
<div class="breadcrumb-wrapper">
    <div class="book1">
        <img src="{% static 'assets/img/hero/book1.png' %}" alt="book">
    </div>
    <div class="book2">
        <img src="{% static 'assets/img/hero/book2.png' %}" alt="book">
    </div>
    <div class="container">
        <div class="page-heading">
            <h1>Shop Details</h1>
            <div class="page-header">
                <ul class="breadcrumb-items wow fadeInUp" data-wow-delay=".3s">
                    <li>
                        <a href="{% url 'store:home' %}">
                            Home
                        </a>
                    </li>
                    <li>
                        <i class="fa-solid fa-chevron-right"></i>
                    </li>
                    <li>
                        {{product.title}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Shop Details Section Start -->
<section class="shop-details-section fix section-padding">
    <div class="container">
        <div class="shop-details-wrapper">
            <div class="row g-4">
                <div class="col-lg-5">
                    <div class="shop-details-image">
                        <div class="tab-content">
                            {% for image in product.images %}
                            <div id="thumb{{ forloop.counter }}" class="tab-pane fade {% if forloop.first %}show active{% endif %}">
                                <div class="shop-details-thumb">
                                    <img src="{{ image.image }}" alt="img">
                                </div>
                            </div>
                            {% endfor %}
                            
                        </div>
                        <ul class="nav">
                            {% for image in product.images %}
                            <li class="nav-item">
                                <a href="#thumb{{ forloop.counter }}" data-bs-toggle="tab" class="nav-link {% if forloop.first %}active{% endif %}">
                                    <img src="{{ image.image }}" height="100px" alt="img">
                                </a>
                            </li>
                            {% endfor %}
                            
                        </ul>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="shop-details-content">
                        <div class="title-wrapper">
                            <h2>{{product.title}}</h2>
                            {% comment %} <h5>Stock availability.</h5> {% endcomment %}
                        </div>
                        <div class="star">
                            {% include product.average_rating|rating_to_star_template %}
                            <span>({{product.total_rating_count}} Customer Reviews)</span>
                        </div>
                        <p>
                            {{product.description|truncatewords:100}}
                        </p>
                        <div class="price-list">
                            <h3>₦{{product.price}}</h3>
                        </div>
                        <div class="cart-wrapper">
                            <div class="quantity-basket">
                                <p class="qty">
                                    <button class="qtyminus" aria-hidden="true">−</button>
                                    <input type="number" name="qty" id="qty2" min="1" max="10" step="1" value="1">
                                    <button class="qtyplus" aria-hidden="true">+</button>
                                </p>
                            </div> 
                            <button type="button"  class="theme-btn style-2" data-bs-toggle="modal" data-bs-target="#readMoreModal">
                                Read A little
                                </button>
                                <!-- Read More Modal -->
                            <div class="modal fade" id="readMoreModal" tabindex="-1" aria-labelledby="readMoreModalLabel" aria-hidden="true">
                                <div class="modal-dialog"> 
                                    <div class="modal-content">
                                        <div class="modal-body" style="background-image: url({% static 'assets/img/popupBg.png' %});"> 
                                            <div class="close-btn">
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="readMoreBox"> 
                                                <div class="content">
                                                    <h3 id="readMoreModalLabel">{{product.title}}</h3>
                                                    <p>{{product.description}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="shop-details.html" class="theme-btn"><i
                                    class="fa-solid fa-basket-shopping"></i> Add To Cart</a>
                            <div class="icon-box">
                                <a href="shop-details.html" class="icon">
                                    <i class="far fa-heart"></i>
                                </a>
                            </div>
                        </div>
                        <div class="category-box">
                            <div class="category-list">
                                <ul>
                                    <li>
                                        <span>ISBN:</span> {{product.isbn}}
                                    </li>
                                    {% if product.categories %}   
                                    <li>
                                        <span>Category:</span>
                                        {% for category in product.categories %}
                                            {{ category.name }}{% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                    </li>
                                    {% endif %}
                                </ul>
                                <ul>                                   
                                    <li>
                                        <span>Total page:</span> 
                                        {{product.pages}}
                                    </li>

                                    <li>
                                        <span>Language:</span>
                                        {{product.language}}
                                    </li>
                                </ul>
                                <ul>
                                    {% if product.tags %}                                    
                                        <li>
                                            <span>Tags:</span>
                                            {% for tag in product.tags %}
                                                {{ tag.name }}{% if not forloop.last %}, {% endif %}
                                            {% endfor %}
                                        </li>
                                    {% endif %}
                                    <li>
                                        <span>Format:</span> 
                                        {% if product.format_type == 'both' %}
                                            Physical/E-book
                                        {% else %}
                                            {{product.format_type}}
                                        {% endif %}
                                    </li>
                                </ul>
                                
                            </div>
                        </div>
                        {% comment %} <div class="box-check">
                            <div class="check-list">
                                <ul>
                                    <li>
                                        <i class="fa-solid fa-check"></i>
                                        Free shipping orders from $150
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-check"></i>
                                        30 days exchange & return
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        <i class="fa-solid fa-check"></i>
                                        Mamaya Flash Discount: Starting at 30% Off
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-check"></i>
                                        Safe & Secure online shopping
                                    </li>
                                </ul>
                            </div>
                        </div> {% endcomment %}
                        
                    </div>
                </div>
            </div>
            <div class="single-tab section-padding pb-0">
                <ul class="nav mb-5" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a href="#description" data-bs-toggle="tab" class="nav-link ps-0 active"
                            aria-selected="true" role="tab">
                            <h6>Description</h6>
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a href="#additional" data-bs-toggle="tab" class="nav-link" aria-selected="false"
                            tabindex="-1" role="tab">
                            <h6>Additional Information </h6>
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a href="#review" data-bs-toggle="tab" class="nav-link" aria-selected="false" tabindex="-1"
                            role="tab">
                            <h6>reviews ({{product.total_rating_count}})</h6>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="description" class="tab-pane fade show active" role="tabpanel">
                        <div class="description-items">
                            <p>{{product.description}}</p>
                        </div>
                    </div>
                    <div id="additional" class="tab-pane fade" role="tabpanel">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td class="text-1">Author</td>
                                        <td class="text-2">
                                        {% for author in product.authors %}
                                            {{ author.name }}{% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-1">ISBN</td>
                                        <td class="text-2">{{product.isbn}}</td>
                                    </tr>
                                    {% if product.categories %} 
                                    <tr>
                                        <td class="text-1">Categories</td>
                                        <td class="text-2">
                                        {% for category in product.categories %}
                                            {{ category.name }}{% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% if product.tags %}                                    
                                    <tr>
                                        <td class="text-1">Tags</td>
                                        <td class="text-2">
                                        {% for tag in product.tags %}
                                            {{ tag.name }}{% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                        </td>
                                    </tr>
                                    {% endif %}
                                    <tr>
                                        <td class="text-1">Publish Date</td>
                                        <td class="text-2">{{product.publication_date}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-1">Total Page</td>
                                        <td class="text-2">{{product.pages}}</td>
                                    </tr>                                    
                                    <tr>
                                        <td class="text-1">Format</td>
                                        <td class="text-2">
                                            {% if product.format_type == 'both' %}
                                                Physical/E-book
                                            {% else %}
                                                {{product.format_type}}
                                            {% endif %}
                                        </td>                                        
                                    </tr>                                    
                                    {% if product.language %}                                    
                                    <tr>
                                        <td class="text-1">Language</td>
                                        <td class="text-2">{{product.language}}</td>
                                    </tr>
                                    {% endif %}
                                    <tr>
                                        <td class="text-1">Publisher</td>
                                        <td class="text-2">{{product.publisher.name}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="review" class="tab-pane fade" role="tabpanel">
                        <div class="review-items"> 
                            {% for review in product.reviews %}
                            <div class="review-wrap-area d-flex gap-4">
                                <div class="review-thumb">
                                    <img src="{% static 'assets/img/shop-details/review.png' %}" alt="img">
                                </div>
                                <div class="review-content">
                                    <div
                                        class="head-area d-flex flex-wrap gap-2 align-items-center justify-content-between">
                                        <div class="cont">
                                            <h5><a href="#">{{review.user_first_name}}</a></h5>
                                            <span>{{review.created_at}}</span>
                                        </div>
                                        <div class="star">
                                            {% include review.score|rating_to_star_template %}
                                        </div>
                                    </div>
                                    <p class="mt-30 mb-4">
                                        {{review.review}}
                                    </p>
                                </div>
                            </div>  
                            {% endfor %}
                            {% if is_logged_in %}
                            <form action="" id="contact-form" method="POST">
                                {% csrf_token %}
                                <div class="review-title mt-5 py-15 mb-30">
                                    <h4>Your Rating*</h4>
                                    <div class="rate-now d-flex align-items-center">
                                        <div class="categories-list">
                                            {% for rating in "5 4 3 2 1"|split:" " %}
                                                <label class="checkbox-single d-flex align-items-center">
                                                    <span class="d-flex gap-xl-3 gap-2 align-items-center">
                                                        <span class="checkbox-area d-center">
                                                            <input type="radio" name="score" value="{{ rating }}" required>
                                                            <span class="checkmark d-center"></span>
                                                        </span>
                                                        <span class="text-color">
                                                            <span class="star">
                                                                {% include "rating_star/"|add:rating|add:"_star.html" %}
                                                            </span>
                                                            {{ product.rating_counts|dict_get:rating|default:"0" }}

                                                        </span>
                                                    </span>
                                                </label>
                                            {% endfor %}
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="review-form">
                                    
                                        <div class="row g-4">
                                            <div class="col-lg-12 wow fadeInUp animated" data-wow-delay=".8">
                                                <div class="form-clt">
                                                    <span>Message*</span>
                                                    <textarea name="review" id="message"
                                                        placeholder="Write Message"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 wow fadeInUp animated" data-wow-delay=".9">
                                                <button type="submit" class="theme-btn">
                                                    Submit now
                                                </button>
                                            </div>
                                        </div>
                                </div>
                            </form>
                            {% else %}
                                <p><a href="{% url 'auth_app:login' %}">Log in</a> to leave a review.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Top Ratting Book Section Start -->
{% if product.related_books %}
<section class="top-ratting-book-section fix section-padding pt-0">
    <div class="container">
        <div class="section-title text-center">
            <h2 class="mb-3 wow fadeInUp" data-wow-delay=".3s">Related Books</h2>
            <p class="wow fadeInUp" data-wow-delay=".5s">
                Don’t close the chapter yet—explore these related books chosen to match the themes, mood, and style you just enjoyed.
            </p>
        </div>
        <div class="swiper book-slider">
            <div class="swiper-wrapper">
                {% for related_book in product.related_books %}
                <div class="swiper-slide">
                    <div class="shop-box-items style-2">
                        <div class="book-thumb center">
                            <a href="{% url 'store:product_detail' related_book.slug %}"><img src="{{ related_book.main_image }}" alt="{{ related_book.title }}"></a>
                            <ul class="post-box">
                                <li>
                                    Hot
                                </li>
                            </ul>
                            <ul class="shop-icon d-grid justify-content-center align-items-center">
                                <li>
                                    <a href="{% url 'store:product_detail' related_book.slug %}"><i class="far fa-heart"></i></a>
                                </li>
                            </ul>
                            <ul class="shop-icon d-grid justify-content-center align-items-center">
                                <li>
                                    <a href="shop-cart.html"><i class="far fa-heart"></i></a>
                                </li>
                                <li>
                                    <a href="shop-cart.html">

                                        <img class="icon" src="{% static 'assets/img/icon/shuffle.svg' %}" alt="svg-icon">
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'store:product_detail' related_book.slug %}"><i class="far fa-eye"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="shop-content">
                            <h5> Design Low Book </h5>
                            <h3><a href="{% url 'store:product_detail' related_book.slug %}">{{related_book.title|truncatewords:4}}</h3>
                            <ul class="price-list">
                                <li>₦{{related_book.price}}</li>
                                <li>
                                    <i class="fa-solid fa-star"></i>
                                    {{related_book.average_rating}} ({{related_book.rating_count}})
                                </li>
                            </ul>
                        </div>
                        <div class="shop-button">
                            <a href="shop-details.html" class="theme-btn"><i
                                    class="fa-solid fa-basket-shopping"></i> Add To Cart</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endif %}