{% extends "base.html" %}
{% load static %}
{% block meta %}
<meta property="og:title" content="{{business_name}} Home">
<meta property="og:description" content="Welcome to {{business_name}}">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:image" content="{% static 'assets/img/logo/black-logo.svg' %}">
{% endblock meta %}
{% block title %}
{{business_name}} - Home
{% endblock title %}
{% block content %}
<!-- Hero Section start  -->
{% include "includes/hero.html" %}
<!-- Book Banner Section start  -->
{% include "includes/banner.html" %}

<!-- Shop Section Start -->
{% include "includes/product_slidder.html" %}

<!-- Featured Books Section Start -->
{% include "includes/featured_books.html" %}


<!-- Best Seller Section Start -->
{% comment %} {% include "includes/best_sellers.html" %} {% endcomment %}

<!-- Feature Section Start -->
{% include "includes/features.html" %}

<!-- Shop Section Start -->
{% comment %} {% include "includes/favorite_authors.html" %} {% endcomment %}

<!-- Cta Banner Section Start -->
{% include "includes/cta_banner.html" %}

<!-- Shop Section Start -->
{% comment %} {% include "includes/favorite_books.html" %} {% endcomment %}

<!-- Team Section Start -->
{% comment %} {% include "includes/authors.html" %} {% endcomment %}

<!-- News Section Start -->
{% comment %} {% include "includes/latest_news.html" %}  {% endcomment %}
{% endblock content %}

{% block extra_js %}
<script>
document.addEventListener("DOMContentLoaded", function () {
    const cartCount = {{ cart_count|default:0 }};
    const offcanvas = document.querySelector(".offcanvas__info");
    const overlay = document.querySelector(".offcanvas__overlay");
    const closeBtn = document.querySelector(".offcanvas-close-btn");

    if (cartCount > 0) {
        // Show the offcanvas & overlay
        offcanvas.classList.add("info-open");
        overlay.classList.add("overlay-open");
    }

    // Close button handler
    closeBtn.addEventListener("click", function () {
        offcanvas.classList.remove("info-open");
        overlay.classList.remove("overlay-open");
    });

    // Overlay click also closes offcanvas
    overlay.addEventListener("click", function () {
        offcanvas.classList.remove("info-open");
        overlay.classList.remove("overlay-open");
    });
});
</script>
{% endblock extra_js %}